[submodule ".local/share/nvim/site/pack/packer/start/barbar.nvim/barbar.nvim"]
	path = .local/share/nvim/site/pack/packer/start/barbar.nvim/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
[submodule ".local/share/nvim/site/pack/packer/start/completion-nvim/completion-nvim"]
	path = .local/share/nvim/site/pack/packer/start/completion-nvim/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule ".local/share/nvim/site/pack/packer/start/galaxyline.nvim/galaxyline.nvim"]
	path = .local/share/nvim/site/pack/packer/start/galaxyline.nvim/galaxyline.nvim
	url = https://github.com/glepnir/galaxyline.nvim
[submodule ".local/share/nvim/site/pack/packer/start/gitsigns.nvim/gitsigns.nvim"]
	path = .local/share/nvim/site/pack/packer/start/gitsigns.nvim/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule ".local/share/nvim/site/pack/packer/start/gruvbox-material/gruvbox-material"]
	path = .local/share/nvim/site/pack/packer/start/gruvbox-material/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material
[submodule ".local/share/nvim/site/pack/packer/start/lspsaga.nvim/lspsaga.nvim"]
	path = .local/share/nvim/site/pack/packer/start/lspsaga.nvim/lspsaga.nvim
	url = https://github.com/glepnir/lspsaga.nvim
[submodule ".local/share/nvim/site/pack/packer/start/nvim-autopairs/nvim-autopairs"]
	path = .local/share/nvim/site/pack/packer/start/nvim-autopairs/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule ".local/share/nvim/site/pack/packer/start/nvim-comment/nvim-comment"]
	path = .local/share/nvim/site/pack/packer/start/nvim-comment/nvim-comment
	url = https://github.com/terrortylor/nvim-comment
[submodule ".local/share/nvim/site/pack/packer/start/nvim-lspconfig/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/packer/start/nvim-lspconfig/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".local/share/nvim/site/pack/packer/start/nvim-lspinstall/nvim-lspinstall"]
	path = .local/share/nvim/site/pack/packer/start/nvim-lspinstall/nvim-lspinstall
	url = https://github.com/kabouzeid/nvim-lspinstall
[submodule ".local/share/nvim/site/pack/packer/start/nvim-treesitter/nvim-treesitter"]
	path = .local/share/nvim/site/pack/packer/start/nvim-treesitter/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".local/share/nvim/site/pack/packer/start/nvim-web-devicons/nvim-web-devicons"]
	path = .local/share/nvim/site/pack/packer/start/nvim-web-devicons/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule ".local/share/nvim/site/pack/packer/start/plenary.nvim/plenary.nvim"]
	path = .local/share/nvim/site/pack/packer/start/plenary.nvim/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".local/share/nvim/site/pack/packer/start/popup.nvim/popup.nvim"]
	path = .local/share/nvim/site/pack/packer/start/popup.nvim/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule ".local/share/nvim/site/pack/packer/start/snippets.nvim/snippets.nvim"]
	path = .local/share/nvim/site/pack/packer/start/snippets.nvim/snippets.nvim
	url = https://github.com/norcalli/snippets.nvim
[submodule ".local/share/nvim/site/pack/packer/start/telescope.nvim/telescope.nvim"]
	path = .local/share/nvim/site/pack/packer/start/telescope.nvim/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".local/share/nvim/site/pack/packer/start/vim-easy-align/vim-easy-align"]
	path = .local/share/nvim/site/pack/packer/start/vim-easy-align/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule ".local/share/nvim/site/pack/packer/start/vim-obsession/vim-obsession"]
	path = .local/share/nvim/site/pack/packer/start/vim-obsession/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule ".local/share/nvim/site/pack/packer/start/vim-surround/vim-surround"]
	path = .local/share/nvim/site/pack/packer/start/vim-surround/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".local/share/nvim/site/pack/packer/start/vim-tmux-navigator/vim-tmux-navigator"]
	path = .local/share/nvim/site/pack/packer/start/vim-tmux-navigator/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".local/share/nvim/site/pack/packer/start/which-key.nvim/which-key.nvim"]
	path = .local/share/nvim/site/pack/packer/start/which-key.nvim/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule ".config/tmux/plugins/tmux-continuum"]
	path = .config/tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule ".config/tmux/plugins/tmux-gruvbox"]
	path = .config/tmux/plugins/tmux-gruvbox
	url = https://git::@github.com/egel/tmux-gruvbox
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
