#window {
	background-color: --wofi-color17;
	opacity: 0.85;
	color: --wofi-color18;
}

expander {
	margin-left: -15px;
}

#input {
	border: none;
	background-color: --wofi-color17;
	color: --wofi-color18;
}

#img {
	margin-right: 6px;
}

#entry:selected {
	background-color: --wofi-color2;
	outline: 0;
}
